/* Styles globaux ou dans un fichier dédié à votre composant */

.custom-list {
    display: grid;
    place-items: center;  
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .item-title {
    font-weight: bold;
  }

  .item-onedit{
    font-style: italic;
    font-size: 16px;
    width: 33%;
  }

  .item-due{
    margin-left: 20px;
  }
  
.button {
    background-color: #0074d9; /* Couleur bleue */
    color: #fff; /* Texte en blanc */
    border: none;
    padding: 10px 20px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition sur la couleur de fond */
}

/* Style du bouton au survol */
.button:hover {
  background-color: #0056b3; /* Couleur bleue plus sombre au survol */
}

.edit-task{
    display: flex;
}

.edit-task input {
    margin: 10px;
    height: auto;
    background-color: transparent; 
    border: none;
    outline: none; 
    font-size: inherit; 
}

  